# build output
dist/
.output/

.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Archivos generados por Astro
.astro/data-store.json

# Config local de Astro (si varía por entorno)
astro.config.mjs

# Dependencias / lockfiles (si no quieres versionarlos)
package.json
package-lock.json