@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../**/*.{astro,html,js,jsx,md,mdx,ts,tsx}";

@custom-variant hover (&:hover);
@custom-variant group-hover (.group:hover &);
@custom-variant peer-hover (.peer:hover ~ &);

html,
body {
  width: 100%;
  overflow-x: clip;
  scroll-padding-top: 6rem;
}

@supports not (overflow: clip) {
  html,
  body {
    overflow-x: hidden;
  }
}

@layer components {
  .slider .slide {
    opacity: 0;
    transform: scale(1);
  }
  .slider .slide.is-active {
    opacity: 1;
    transform: scale(1);
  }
}

@layer utilities {

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Oculta scrollbar en Chrome, Safari y Opera */
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* Oculta scrollbar en IE y Edge */
    scrollbar-width: none; /* Oculta scrollbar en Firefox */
  }

  @keyframes scroll-x {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes cart-widget-bounce {
    0% {
      transform: scale(1);
    }
    15% {
      transform: scale(1.12);
    }
    35% {
      transform: scale(0.94);
    }
    55% {
      transform: scale(1.05);
    }
    75% {
      transform: scale(0.98);
    }
    100% {
        transform: scale(1);
      }
    
  }

  .animate-scroll-x {
    animation: scroll-x 14s linear infinite;
  }


  .cart-widget-bump {
    animation: cart-widget-bounce 0.6s ease;
  }



  
/* Loader */
  .loader {
    height: 60px;
    aspect-ratio: 2;
    border-bottom: 3px solid #0000;
    background: 
      linear-gradient(90deg,#524656 50%,#0000 0)
      -25% 100%/50% 3px repeat-x border-box;
    position: relative;
    animation: l3-0 .75s linear infinite;
  }
  .loader:before {
    content: "";
    position: absolute;
    inset: auto 42.5% 0;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #CF4647;
    animation: l3-1 .75s cubic-bezier(0,900,1,900) infinite;
  }
  @keyframes l3-0 {
    to {background-position: -125% 100%}
  }
  @keyframes l3-1 {
    0%,2% {bottom: 0%}
    98%,to {bottom:.1%}
  }



}