---
import { Icon } from 'astro-icon/components'
---
<div class="pointer-events-none absolute inset-x-0 top-0 min-h-screen overflow-hidden" aria-hidden="true">
    <Icon
        name="layered-waves-haikei"
        class="absolute inset-x-0 top-0 h-[120vh] w-full text-transparent"
        preserveAspectRatio="xMidYMin slice"
    />
    <div class="absolute inset-0 bg-white/50 dark:bg-gray-950/50"></div>
</div>